@model IEnumerable<Gästebuch.Models.tbl_Einträge>

@{
    ViewBag.Title = "Gästebuch - Eintrag";
}

<br>
<br>
<h1>Einträge</h1>
<br>
<p>
    <input type="button" class="btn btn-default" value="Create New" onclick="location.href='@Url.Action("Create", "Eintrag")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nachname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bewertung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verbesserungsvorschläge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zeitpunkt)
        </th>
        <th></th>
    </tr>
    @foreach(var item in Model)
        {
        if(item.Autorisiert == true)
            {
        <tr>
            <td>
                @Html.Raw(item.Nachname)
            </td>
            <td>
                @Html.Raw(item.Vorname)
            </td>
            <td>
                @Html.Raw(item.Bewertung)
            </td>
            <td>
                @Html.Raw(item.Verbesserungsvorschläge)
            </td>
            <td>
                @Html.Raw(item.Zeitpunkt)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Eintrag", new { id = item.rowguid }, new { @class = "btn btn-default" })
            </td>
        </tr>
            }
        }
</table>


        